In [74]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [76]:
df = pd.read_csv(r"https://raw.githubusercontent.com/ritvikmath/Time-Series-Analysis/master/ice_cream_vs_heater.csv")

In [77]:
df.head()

     Month  heater  ice cream
0  2004-01      27         13
1  2004-02      18         15
2  2004-03      14         16
3  2004-04      13         19
4  2004-05      13         21

In [78]:
df.Month = df.Month.apply(lambda x : datetime.strptime(x, '%Y-%m'))
df.set_index('Month', inplace=True)

In [82]:
df = df.asfreq(pd.infer_freq(df.index))